{% extends "base.html" %}
{% block title %} Check Game {% endblock %}
{% block content %}
<div align="center">
    <p>Selected Game.</p>
    <table border=1>
        <tr>
            <td>Game</td>
            <td>Processor One</td>
            <td>Processor Two</td>
            <td>Memory</td>
            <td>VideoCard One</td>
            <td>VideoCard Two</td>
        </tr>
        <tr>
            <td>{{ game.name }}</td>
            <td>{{ game.processor_one.first.brand.name }} {{ game.processor_one.first.name }}</td>
            <td>{{ game.processor_two.first.brand.name }} {{ game.processor_two.first.name }}</td>
            <td>{{ game.memory }}</td>
            <td>{{ game.video_card_one.first.brand.name }} {{ game.video_card_one.first.name }}</td>
            <td>{{ game.video_card_two.first.brand.name }} {{ game.video_card_two.first.name }}</td>
        </tr>
    </table>
    <p>Select your PC components</p>
    <form action="{% url 'filter_components' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Chek</button>
    </form>


    <p></p>
    <form action="{% url 'list_games' %}">
        <button>Return for Games</button>
    </form>
</div>
{% endblock %}