{% extends "base.html" %}
{% block title %} Games Page {% endblock %}
{% block content %}
    <div align="center">
        <p>List of Games.</p>
        <table border=1>
            <tr>
                <td>Game</td>
                <td>Processor One</td>
                <td>Processor Two</td>
                <td>Memory</td>
                <td>VideoCard One</td>
                <td>VideoCard Two</td>
                <td>Options</td>
            </tr>
        {% for game in games %}
            <tr>
                <td>{{ game.name }}</td>
                <td>{{ game.processor_one.first.brand.name  }} {{ game.processor_one.first.name }}</td>
                <td>{{ game.processor_two.first.brand.name  }} {{ game.processor_two.first.name }}</td>
                <td>{{ game.memory }}</td>
                <td>{{ game.video_card_one.first.brand.name }} {{ game.video_card_one.first.name }}</td>
                <td>{{ game.video_card_two.first.brand.name }} {{ game.video_card_two.first.name }}</td>
                <td>
                    <form action="{% url 'check_game' game.id %}">
                        <button>Check</button>
                    </form>
                </td>
            </tr>

        {% endfor %}
        </table>
        <p></p>
        <form action="{% url 'display_main' %}">
            <button>Return main page</button>
        </form>
    </div>
{% endblock %}